<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container-fluid">
            <div>
                <span class="fw-bold" th:text="${#authentication.name}">USERNAME</span>
                <span> С ролями </span>
<!--                <span th:text="${role}">ROLE</span>-->
                <span sec:authorize="hasRole('ADMIN')">Администратор</span>
                <span sec:authorize="hasRole('USER')">Пользователь</span>
            </div>
            <a class="text-decoration-none font-weight-bold text-secondary" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
</div>