<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container-fluid">
            <div>
                <span class="fw-bold" id="spanUserName">USERNAME</span>
                <span> С ролями </span>
                <span id="spanRoles"></span>
            </div>
            <a class="text-decoration-none font-weight-bold text-secondary" th:href="@{/logout}">Выйти</a>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <!--        sidebar start-->
        <div class="col bg-white px-0">
            <div class="d-flex flex-column">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link text-start active" id="v-pills-admin-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin"
                            aria-selected="true">Администратор
                    </button>
                    <button class="nav-link text-start" id="v-pills-user-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-user"
                            type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">Пользователь
                    </button>
                </div>
            </div>
        </div>
        <div class="col-10 vh-100 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <div th:replace="this :: adminInfo"/>
                </div>
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <div th:replace="~{this :: userInfo}"/>
                </div>
            </div>
        </div>
        <!--        sidebar end-->

        <!--        navigation tabs start-->
        <div class="invisible">
            <div th:fragment="adminInfo">
                    <h1>Панель администратора</h1>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users"
                                    aria-selected="true">Список пользователей
                            </button>
                            <button class="nav-link" id="new-user-tab" data-bs-toggle="tab" data-bs-target="#newUserTab"
                                    type="button" role="tab" aria-controls="newUserTab" aria-selected="false">Новый пользователь
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-users" role="tabpanel"
                             aria-labelledby="nav-users-tab">
                            <div class="p-2">
                                <h5>Все пользователи</h5>
                            </div>

                            <!--Таблица со списком пользователей-->
                            <table class="table table-striped bg-white">
                                <thead>
                                <tr>
                                    <th scope="col">Логин</th>
                                    <th scope="col">Пароль</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Возраст</th>
                                    <th scope="col">Роль</th>
                                </tr>
                                </thead>
                                <tbody id="tableAddAllUsers">
                                </tbody>
                            </table>
                            <!--Конец таблицы со списком пользователей-->
                        </div>
                        <div class="tab-pane fade px-4" id="newUserTab" role="tabpanel" aria-labelledby="nav-newUser-tab">
                            <div class="p-2">
                                <h5>Добавить пользователя</h5>
                            </div>
                            <!--Форма для ввода нового пользователя-->
                            <div class="row justify-content-center align-self-center bg-white">
                                <div class="col-4">
                                    <form class="text-center" id="formAddUser">
                                        <div class="form-group fw-bold">
                                            <div class="form-group m-3">
                                                <div class="form-group m-3">
                                                    <label for="loginNew" class="col-form-label">Логин</label>
                                                    <input type="text" class="form-control" id="loginNew" required autocomplete="off"/>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="passwordNew" class="col-form-label">Пароль</label>
                                                    <input type="text" class="form-control" id="passwordNew"  required autocomplete="off"/>

                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="nameNew" class="col-form-label">Имя</label>
                                                    <input type="text" class="form-control" id="nameNew" required autocomplete="off"/>
                                                </div>
                                                <div class="form-group m-3">
                                                    <label for="surnameNew" class="col-form-label">Фамилия</label>
                                                    <input type="text" class="form-control" id="surnameNew" required/>
                                                </div>
                                                <div class="form-group m-3">
                                                    <label for="ageNew" class="col-form-label">Возраст</label>
                                                    <input type="number" class="form-control" id="ageNew"
                                                           name="age"  required/>
                                                </div>

                                                <div class="form-group m-3" readonly="readonly">
                                                    <label for="roleNew">Role</label>
                                                    <select class="form-select w-100" multiple
                                                            aria-label="multiple select example"
                                                            size="2"
                                                            id="roleNew"
                                                            name="checkedRoles" required>
                                                        <option value="USER">USER</option>
                                                        <option value="ADMIN">ADMIN</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-save-new">Добавить пользователя</button>
                                    </form>
                                </div>
                            </div>
                            <!--Конец формы для ввода нового пользователя-->
                        </div>
                    </div>
<!--                navigation tabs end-->
            </div>
        </div>
        <div class="invisible">
            <div th:fragment="userInfo">
                <h1 class="ps-3">Страница пользователя</h1>
                <div class="container-fluid">
                    <div class="row border">
                        <h5 class="p-2">О пользователя</h5>
                    </div>
                    <div class="row border bg-white">
                        <table class="table table-borderless table-striped">
                            <thead>
                            <tr class="border-top">
                                <th scope="col">Логин</th>
                                <th scope="col">Пароль</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Фамилия</th>
                                <th scope="col">Возраст</th>
                                <th scope="col">Роль</th>
                            </tr>
                            </thead>
                            <tbody id="tableCurrentUser">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Модальное окно редактирования начало кода -->
<div class="editForm">
    <div class="modal fade" id="editModal" aria-hidden="true"
         role="dialog" aria-labelledby="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body fw-bold">
                    <div style="text-align: center;">
                        <div class="row justify-content-center align-items-center">
                            <form class="text-center" id="editFormBody">
                                <div class="form-group font-weight-bold">
                                    <div class="form-group m-3">
                                        <label for="idEdit"
                                               class="col-form-label">ID</label>
                                        <input type="text"
                                               class="form-control" id="idEdit"
                                               name="id"
                                               readonly/>
                                    </div>

                                    <div class="form-group m-3">
                                        <label for="loginEdit">Логин</label>
                                        <input type="text" class="form-control"
                                               id="loginEdit"
                                               name="username"
                                               readonly/>
                                    </div>

                                    <div class="form-group m-3">
                                        <label for="passwordEdit"
                                               class="col-form-label">Пароль</label>
                                        <input type="password" class="form-control"
                                               id="passwordEdit"
                                               name="password"
                                               readonly/>
                                    </div>

                                    <div class="form-group m-3">
                                        <label for="nameEdit"
                                               class="col-form-label">Имя</label>
                                        <input type="text" class="form-control"
                                               id="nameEdit"
                                               name="name"
                                        />
                                    </div>

                                    <div class="form-group m-3">
                                        <label for="surnameEdit" class="col-form-label">Фамилия</label>
                                        <input type="text" class="form-control"
                                               id="surnameEdit"
                                               name="surname"
                                        />

                                    </div>

                                    <div class="form-group m-3">
                                        <label for="ageEdit"
                                               class="col-form-label">Возраст</label>
                                        <input type="number" class="form-control"
                                               id="ageEdit"
                                               name="age"
                                        />
                                    </div>

                                    <div class="form-group m-3" readonly="readonly">
                                        <label for="rolesEdit">Роль</label>
                                        <select class="form-select w-100" multiple
                                                size="2"
                                                id="rolesEdit"
                                                name="roleSet" required="true">
<!--                                            <option value="USER">USER</option>-->
<!--                                            <option value="ADMIN">ADMIN</option>-->
                                        </select>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Закрыть
                                        </button>
                                        <input type="submit" class="btn btn-danger"
                                               value="Редактировать"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно редактирования конец кода -->

<!--         Модальное окно удаления начало кода            -->

    <div class="deleteForm">
        <div class="modal fade" id="deleteModal" aria-hidden="true"
             role="dialog" aria-labelledby="deleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Удалить пользователя</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body fw-bold">
                        <div style="text-align: center">
                            <div class="row justify-content-center align-items-center">
                                <form class="text-center"
                                      id="deleteFormBody">
                                    <div class="form-group font-weight-bold">
                                        <div class="form-group m-3">
                                            <label for="idDel"
                                                   class="col-form-label">ID</label>
                                            <input type="text" class="form-control" id="idDel"
                                                   name="userId"
                                                   readonly/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="loginDel"
                                                   class="col-form-label">Логин</label>
                                            <input type="text" class="form-control"
                                                   id="loginDel"
                                                   name="username"
                                                   disabled/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="passwordDel"
                                                   class="col-form-label">Пароль</label>
                                            <input type="text" class="form-control"
                                                   id="passwordDel"
                                                   name="password"
                                                   disabled/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="nameDel" class="col-form-label">Имя</label>
                                            <input type="text" class="form-control"
                                                   id="nameDel"
                                                   name="name"
                                                   disabled/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="surnameDel" class="col-form-label">Фамилия</label>
                                            <input type="text" class="form-control"
                                                   id="surnameDel"
                                                   name="surname"
                                                   disabled/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="ageDel"
                                                   class="col-form-label">Возраст</label>
                                            <input type="text" class="form-control"
                                                   id="ageDel"
                                                   name="age"
                                                   disabled/>
                                        </div>

                                        <div class="form-group m-3" readonly="readonly">
                                            <label for="rolesDelete">Роль</label>
                                            <select class="form-select w-100 "
                                                    size="2"
                                                    id="rolesDelete"
                                                    name="userRoles"
                                                    disabled="true">

                                            </select>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Закрыть
                                            </button>
                                            <input type="submit" class="btn btn-danger"
                                                   value="Удалить"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Модальное окно удаления конец кода-->


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/admin.js}"></script>
<!-- <script th:src="@{/js/modals.js}"></script>-->

</body>
</html>