<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Страница авторизации</title>
    <link href="/css/bootstrap.min.css"  th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="text-center">
    <div tiles:fragment="content">
        <form th:action="@{/login}" method="post" style="max-width: 360px; margin: 0 auto">
            <h1 class="h2 mt-4 fw-bold text-start">Авторизуйтесь</h1>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Некорректное имя пользователя или пароль
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                Вы вышли
            </div>
            <input type="text" id="emailAddress" name="username" class="form-control" placeholder="Имя пользователя"
                   required autofocus>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль">
            <input type="submit" value="Отправить" class="btn btn-lg btn-primary mt-2"/>
        </form>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>